<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <h1 class="title">304!</h1>
        
        <p>
          304 is a Indian card game. 
          The number 304 is "teenshe char" in Marathi and Konkani languages.          
        </p>
        
        <p>
          <a href="https://docs.google.com/document/d/1TidkKFFzvAwRBsG-tBHj8LHHwKIQwPwmY3-J5Pixlyg"> 
             Rules of 304</a>
        </p>
        
        <p>
          Right now you can play teenshechar with 2 and 4 people.
          <br><br>
          When all the players are ready, one of you has to choose a game id and communicate that
          with the rest of the players.
          <br><br>         
          It will be nice to have voice or video conference call with something like whatsapp.
          <br><br>       
          Then, all players enter the game id, number of players, and player name in the form below and 
          click submit. Once you click submit, you will get the game page.
          <br><br>
          When all players have clicked submit, the game will start.
          
        </p>
        <div class="color-form">      
          <form class="color-search" method="post">
              <label for="color">
                Enter game id <br>
                <input id="gameId" name="gameId" required="required" type="text"> <br>
                Enter number of players <br>
                <input id="numPlayers" name="numPlayers" value="4" required="required" type="number"> <br>
                Enter player name <br>
                <input id="playerName" name="playerName" required="required" type="text">
              </label>
            <br>
            <button type="submit">Submit</button>
          </form>
        </div>

        <h3>
          To Do List
        </h3>
        
          Appearance
          <ul>
            <li>Add snazzy frontend with Phaser</li>
            <li>Show teams and positions</li>
            <li>Show only relevant info during game play</li>
          </ul>  
          Game
          <ul>
            <li>Trump has to be one letter</li>
            <li>Check "play again" button</li>
            <li>Reject players with same name</li>
            <li>Error checking for player input e.g. card to play</li>
            <li>Check if player follow rules</li>          
            <li>Out of turn messages</li>
            <li>new game - change first player</li>
            <li>winning team gets red/black, diwali</li>
            <li>chance 200</li>
            <li>wakai, kote</li>
            <li>prevent someone from playing twice quickly</li>
            <li>how to show jodi</li>
            <li>show card of trump first and then just the suit</li>
          </ul>
          Programming
          <ul>
            <li>Github</li>
            <li>Testing</li>
            <li>Create classes for Game, Player</li>
          </ul>         
      
      </div>
    </div>

    <footer class="footer">
      Created By Prasad Wagle, Kiran Wagle, and Marie Wagle<br>
      <br>
      Please have fun!!!!!!!!!
    </footer>
  </body>
</html>
